{% extends 'main/base.html' %}

{% load static %}

{% block title %}
	Проверка аннулированых
{% endblock %}

{% block content %}

<div class="py-4" xmlns="http://www.w3.org/1999/html">
        <div class="conteiner pt-4">
            <div class="row">
                <div class="col-10 mx-auto my-2 text-center">
                    <h2 class="cart-status font-weight-bold text-muted">добавление пропусков из реестра в БД<h6>{{ status }}</h6></h2>
                </div>

            </div>
        </div>
    </div>
    <div class="text-center">
         <form id="check_annul_form" action="add_file_reestr_ba" method="POST" enctype="multipart/form-data" >
             {% csrf_token %}

                <div class="btn-group btn-group-toggle ml-3 p-2 mt-4 mb-4 text-light"  data-toggle="buttons">
                    <input type="radio" class="btn text-light btngroup_btn p-5 ml-2 mr-3" id="option1" name="type" autocomplete="off" value="less" data-toggle="tooltip" data-placement="auto" title="Меньше 1000" checked>Меньше 1000</input>
                    <input type="radio" class="btn text-light btngroup_btn p-5 ml-4 mr-3 " id="option2" name="type" autocomplete="off" value="more" data-toggle="tooltip" data-placement="auto" title="Больше 1000">Больше 1000</input>
                </div>


                <div class="row align-self-center text-light">
                    <div class="col-12 mx-auto col-md-6 col-lg-3 text-center ">
                            <p class=""><h5>Добавь файл</h5></p>
                                <hr>
                                <div class="row mt-5 align-self-center">
                                    <div class="col-5">
                                        <div class="form-group">
                                            <label class="label ">
                                                <i class="material-icons text-light cart p-2 mt-2">attach_file</i>
            <!--                                    <input type="file" id="validationFile" class="is-valid" name="file">-->
                                                {{ form.as_p }}
                                            </label>
                                        </div>

                                    </div>
                                    <div class="col-6">
                                        <input type="submit" value="Проверить" class="text-center text-light p-2 mt-2">
                                    </div>

                                </div>


                    </div>

                </div>

         </form>
    </div>


</div>
<div class="container">
    <div class="pagination text-center text-light">
<!--        {{ all_propuska.has_previous }}-->
<!--        {{ all_propuska.number }}-->
<!--        {{ all_propuska.paginator.count }}-->
<!--        {{ all_propuska.paginator.num_pages }}-->
<!--        {{ all_propuska.paginator.page_range }}-->
<!--        {{ all_propuska.has_next }}-->

<!--        {% for num in all_propuska.paginator.page_range %}-->
<!--            {% if all_propuska.number == num %}-->
<!--        <strong>{{ num }}</strong>-->
<!--            {% else %}-->
<!--                {{ num }}-->
<!--            {% endif %}-->
<!--        {% endfor %}-->

        {% if all_propuska.has_previous %}
            <a class="mr-1" href="?page=1"><span class="material-icons">first_page</span></a>
            <a class="mr-1" href="?page={{ all_propuska.previous_page_number }}"><span class="material-icons">chevron_left</span></a>
        {% endif%}

        {% for num in all_propuska.paginator.page_range %}
            {% if all_propuska.number == num %}
            <strong class="mr-1 ml-1">{{ num }}</strong>
            {% elif num > all_propuska.number|add:'-5' and num < all_propuska.number|add:'5' %}
            <a class="mr-1 ml-1" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

          {% if all_propuska.has_next %}
            <a class="ml-1" href="?page={{ all_propuska.next_page_number }}"><span class="material-icons">chevron_right</span></a>
            <a class="ml-1" href="?page={{ all_propuska.paginator.num_pages }}"><span class="material-icons">last_page</span></a>
        {% endif%}

    </div>
    <table class="text-center text-light tbl-all">
                        <thead>
                            <tr class="tbl-row m-3">
                                <th class="pl-4">Серия<a href="#" class="material-icons ml-2 ">sort</a></th>
                                <th class="pl-3">Госномер<a href="#" class="material-icons ml-2">sort</a></th>
                                <th class="pl-3">Действ с<a href="#" class="material-icons ml-2">sort</a></th>
                                <th class="pl-3">Действ по<a href="#" class="material-icons ml-2">sort</a></th>
                                <th class="pl-3">Статус пр <a href="#" class="material-icons ml-2">sort</a></th>
                                <th class="pl-3">Дата аннул<a href="#" class="material-icons ml-2 text-light">sort</a>
                                <th class="pl-3">Дата проверки<a href="#" class="material-icons ml-2 text-light">sort</a>
                                </th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                        {% for propusk in all_propuska %}
                            <tr class="tbl-row">
                                 <td>{{ propusk.serial_type }}{{ propusk.serial_num }}</td>
                                  <td>{{ propusk.car }}</td>
                                  <td>{{ propusk.date_from }}</td>
                                  <td>{{ propusk.date_to }}</td>
                                  <td>{{ propusk.status }}</td>
                                  <td>{{ propusk.annul_date }}</td>
                                <td>{{ propusk.proverka_date }}</td>

                                <td><a href="index.html"><span class="material-icons text-light pr-2">info</span></a>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
</div>

{% endblock %}