{% extends 'main/base.html' %}

{% load static %}

{% block title %}
	Меню
{% endblock %}

{% block content %}

 {% if user.is_authenticated %}
        <div class="py-4">
            <div class="conteiner pt-4">
                <div class="row">
                    <div class="col-10 mx-auto my-2 text-center">
                        <h2 class="cart-status font-weight-bold text-muted">доступные программы <h6>{{ status }}</h6></h2>
                    </div>

                </div>
            </div>
        </div>

        <div class="container text-light">
            <div class="row mt-3">

                <div class="col-9 mx-auto col-md-6 col-lg-3">
                    <div class="cart card mb-5">
                        <div class="p-4">
                            <a href="{% url 'add_file_annul'%}"><span class="material-icons md-36 text-light">
                                restore_from_trash
                                </span></a>
                            <a href="{% url 'add_file_annul'%}"><p class="font-weight-bold mb-0  text-light">добавить аннулированные</p></a>


                        </div>

                        <div class="card-footer d-flex justify-content-between" style="background:transparent; border-color:transparent;">
                            <a href="{% url 'add_file_annul'%}"><p class="font-weight-light mb-0  text-light">добавить аннулированные из файла exel</p></a>
                            <h5 class="text-info mb-0">0</h5>

                        </div>
                    </div>
                </div>

                <div class="col-9 mx-auto col-md-6 col-lg-3 ml-2" >
                    <div class="cart card mb-5">
                        <div class="p-4">
                            <a href="production_card.html"><span class="material-icons md-36 text-light">
                                directions_car
                                </span></a>
                            <a href="production_card.html"><p class="font-weight-bold mb-0 text-light">Производство</p></a>
                        </div>

                        <div class="card-footer d-flex justify-content-between" style="background:transparent; border-color:transparent;">
                            <a href="production_card.html"><p class="font-weight-light mb-0 text-light">Наши машины</p></a>
                            <a href="production_card.html"><h5 class="text-info mb-0">{{our_cars}}</h5></a>

                        </div>
                    </div>
                </div>

                <div class="col-9 mx-auto col-md-6 col-lg-3 ml-2">
                    <div class="cart card mb-5">
                        <div class="p-4">
                            <a href="{% url 'find_our_cars'%}"><span class="material-icons md-36 text-light">
                                find_in_page
                                </span></a>
                            <a href="{% url 'find_our_cars'%}"><p class="font-weight-bold mb-0  text-light">проверить совпадения</p></a>

                        </div>

                        <div class="card-footer d-flex justify-content-between" style="background:transparent; border-color:transparent;">
                            <a href="{% url 'find_our_cars'%}"><p class="font-weight-light mb-0  text-light">добавить список номеров</p></a>
                            <h5 class="text-info mb-0">0</h5>

                        </div>
                    </div>
                </div>




            </div>
            <div class="row mt-3">

                <div class="col-9 mx-auto col-md-6 col-lg-3 ml-2" >
                    <div class="cart card mb-5">
                        <div class="p-4">
                            <a href="{% url 'add_file_our_cars'%}"><span class="material-icons md-36 text-light">
                                system_update_alt
                                </span></a>
                            <a href="{% url 'add_file_our_cars'%}"><p class="font-weight-bold mb-0 text-light">загрузить</p></a>
                        </div>

                        <div class="card-footer d-flex justify-content-between" style="background:transparent; border-color:transparent;">
                            <a href="{% url 'add_file_our_cars'%}"><p class="font-weight-light mb-0 text-light">загрузить наши машины из всё проверено</p></a>
                            <a href="{% url 'add_file_our_cars'%}"><h5 class="text-info mb-0"></h5></a>

                        </div>
                    </div>
                </div>

                <div class="col-9 mx-auto col-md-6 col-lg-3 ml-2" >
                    <div class="cart card mb-5">
                        <div class="p-4">
                            <a href="{% url 'add_file_reestr_ba'%}"><span class="material-icons md-36 text-light">
                                source
                                </span></a>
                            <a href="{% url 'add_file_reestr_ba'%}"><p class="font-weight-bold mb-0 text-light">Реестр БА</p></a>
                        </div>

                        <div class="card-footer d-flex justify-content-between" style="background:transparent; border-color:transparent;">
                            <a href="{% url 'add_file_reestr_ba'%}"><p class="font-weight-light mb-0 text-light">весь реестр БА</p></a>
                            <a href="{% url 'add_file_reestr_ba'%}"><h5 class="text-info mb-0">{{reestr_ba}}</h5></a>

                        </div>
                    </div>
                </div>

                                <div class="col-9 mx-auto col-md-6 col-lg-3 ml-2" >
                    <div class="cart card mb-5">
                        <div class="p-4">
                            <a href="production_card.html"><span class="material-icons md-36 text-light">
                                source
                                </span></a>
                            <a href="production_card.html"><p class="font-weight-bold mb-0 text-light">Реестр ББ</p></a>
                        </div>

                        <div class="card-footer d-flex justify-content-between" style="background:transparent; border-color:transparent;">
                            <a href="production_card.html"><p class="font-weight-light mb-0 text-light">весь реестр ББ</p></a>
                            <a href="production_card.html"><h5 class="text-info mb-0">{{reestr_bb}}</h5></a>

                        </div>
                    </div>
                </div>

            </div>




        </div>
 {% else %}
                     <div class="container text-center mt-5">
                          <main class="px-3 text-white">
                            <h1>Войди в свой аккаунт</h1>
                            <p class="lead">Прежде чем приступать к работе, нужно войти в свой аккаунт</p>
                            <p class="lead">
                              <a href="{% url 'account_login' %}" class="btn btn-lg btn-secondary text-dark font-weight-bold border-white bg-white">Войти</a>
                            </p>
                          </main>

                          <footer class="mt-auto text-white-50">
                            <p>Workstation</p>
                          </footer>
                     </div>
{% endif %}
{% endblock %}